.p-dataview img {
    width: 13rem;
}
.p-dataview .productItem {
    margin: 1rem;
    width: 13rem;
    cursor: pointer;
    border: none;
}
.p-dataview p {
    text-wrap: wrap;
}
.p-tag {
    margin-top: 1rem;
}
