.p-tabmenu-nav, .p-tabmenuitem, .p-menuitem-link {
    background: var(--primary-color) !important;
    align-items: center;
  }
.p-menuitem-text, .p-menuitem-icon {
    color: black;
    margin: 0.4rem;
}