body {
  margin: 0;
  display: flex;
  place-items: center;
}

footer h5, #main {
  margin: 1rem;
}
footer {
  width: 100%;
  background: var(--primary-color-darker);
}

.p-button {
  background-color: var(--secondary-color) !important;
  border: none;
}

.p-togglebutton {
  padding: 0.3rem;
}

.p-togglebutton .pi {
  color: white !important;
}